body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
}
section{
    margin-bottom: 60px;
}
.header-section{
    text-align: center;
}
.header-section p{
    opacity: 60%;
    
}
.order-food-section{
    
    margin: 100px 50px 100px 100px;
}
.flaxibal-containar{
    display: flex;
}
.half-section-content{
    width: 50%;
    padding: 10% 0%;
}
.half-section{
    width: 50%;
}
.orange-color{
    color: orange;
}
.half-section-content p{
    margin-bottom: 50px;
    text-align: justify;
    margin-right: 160px;
}
.link-button{
    text-decoration: none;
    font-size: 18;
    font-weight: 600;
    padding: 20px  40px;
    border-radius: 30px;
    background-image: linear-gradient(to right, orange, tomato);
    color: white;
 
    
}
.about-me-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-me-section img{
    height: 536px;
    width: 338px;
    margin: 70px 197px 0px 197px;
}